h3{
    font-size: 25px !important;

}
.btn-success:hover{
    background-color: darkgreen;
}
canvas{
    animation-name: bonifacio;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes bonifacio{
    from{
        box-shadow: 1px 1px 10px red;

    }
    to{
        box-shadow:1px 1px 10px purple;
    }
}